* {
  margin: 0;
  padding: 0;
}
a {
  // 设置所有a标签的下划线隐藏
  text-decoration: none;
}

ul,li,ol {
  // 隐藏ul,li标签的样式
  list-style: none;
}

.router-link-exact-active {
  background-color: #cfd4e6;
  color: #ffffff;
  border-radius: 5px;
}

body, html {
  height: 100%;
}