* {
  margin: 0;
  padding: 0;
}
a {
  // 设置所有a标签的下划线隐藏
  text-decoration: none;
}

ul,li,ol {
  // 隐藏ul,li标签的样式
  list-style: none;
}


body, html {
  height: 100%;
}

.clear-both {
  clear: both;
}
// no wrap
.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}